@font-face {
    font-family: Poppins-Regular;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

* {
    font-family: Poppins-Regular !important;
}

:root {
    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--offWhite);
}

.container {
    background-color: var(--white);
    width: 420px;
    max-width: 80%;
    padding: 30px;
    position: relative;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

.input-flex {
    display: flex;
    border-bottom: 2px solid var(--offWhite);
    margin-bottom: 20px;
}

input {
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--offWhite);
    /* border: none; */
    outline: none;
}

input:focus {
    border: 2px solid var(--purple);
}

small {
    color: red;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: capitalize;
}

.submit-button {
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    background-color: var(--purple);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 60px;
}

.submit-button:hover {
    background-color: black;
}

.output span {
    font-size: 2.75 rem;
    color: var(--purple);
    font-style: italic;
}

